{{ include('include/header.html.twig', {page: 1}) }}

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                À propos de nous
              </h2>
            </div>
            <p>
              Bienvenue chez Saddle & Spice, une destination incontournable pour les amateurs de cuisine du Far West !
              Niché au cœur des vastes étendues de l'Ouest sauvage, notre restaurant vous invite à embarquer pour un voyage culinaire palpitant,
              où l'aventure et la gastronomie se rencontrent. 
            </p>
            <p>
              Depuis notre ouverture en maie 2015, nous nous engageons à offrir à nos clients une expérience authentique et mémorable,
              où chaque repas est une célébration de la cuisine du Far West. Notre équipe de chefs passionnés puise son inspiration dans les saveurs robustes et les traditions culinaires de la région, en combinant habilement les ingrédients frais et locaux pour créer des plats qui ravissent les sens et éveillent les papilles.
            </p>
            <p>
              Chez Saddle & Spice, nous croyons en l'hospitalité chaleureuse et en un service exceptionnel.
              Que vous soyez un cow-boy chevronné ou un voyageur intrépide en quête d'aventure, 
              notre équipe dévouée est là pour vous accueillir avec un sourire sincère et vous faire sentir comme chez vous dans notre atmosphère conviviale et décontractée.
            </p>
            <P>
              Rejoignez-nous pour une expérience culinaire inoubliable au cœur du Far West. Venez goûter à l'épopée culinaire de Saddle & Spice et laissez-vous emporter par la magie de l'Ouest sauvage. Nous avons hâte de vous accueillir dans au seins de notre etablisement.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/pex4.jpg" alt="" style="width: 410px;height: 600px;">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- footer section -->
{{ include('include/footer.html.twig') }}
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>

</html>