{{ include('include/header.html.twig', {page: 1}) }}

<!-- Galleries --> 
  <div class="container py-5">
    <div class="row text-center py-3">
        <div class="m-auto heading_container">
            <h2>Galleries</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <a href="images/image12-mi.jpg" target="_blank">
                    <img src="images/image12-mi.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <a href="images/shutterstock_687437104.webp" target="_blank">
                    <img src="images/shutterstock_687437104.webp" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <a href="images/pexels-robinstickel-70497.jpg" target="_blank">
                    <img src="images/pexels-robinstickel-70497.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <a href="images/pexels-vanmalidate-769289.jpg" target="_blank">
                    <img src="images/pexels-vanmalidate-769289.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <a href="images/pexels-minan1398-1482803.jpg" target="_blank">
                    <img src="images/pexels-minan1398-1482803.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <a href="images/pexels-dana-tentis-118658-262959.jpg" target="_blank">
                    <img src="images/pexels-dana-tentis-118658-262959.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mb-4" >
            <div class="card h-100">
                <a href="images/pexels-elevate-1267320.jpg" target="_blank">
                    <img src="images/pexels-elevate-1267320.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <a href="images/pexel.jpg" target="_blank">
                    <img src="images/pexel.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <a href="images/px2.jpg" target="_blank">
                    <img src="images/px2.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <a href="images/pexels-kylarose-954677.jpg" target="_blank">
                    <img src="images/pexels-kylarose-954677.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <a href="images/pexels-sydney-troxell-223521-718742.jpg" target="_blank">
                    <img src="images/pexels-sydney-troxell-223521-718742.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
    </div>

  </div>

  <!-- footer section -->
{{ include('include/footer.html.twig') }}
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>

</html>